<!--<div id="nav">
  <button mat-button class="menu-button" (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav autoFocus="false" mode="over" class="sidenav">
    <a mat-button>Page 1</a>
  </mat-sidenav>

</mat-sidenav-container> 
<mat-drawer-container class="example-container" >
  <mat-drawer #drawer [mode]="over">I'm a drawer</mat-drawer>
  <mat-drawer-content>

    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
  </mat-drawer-content>
</mat-drawer-container>-->
<mat-toolbar color="primary" class="example-toolbar">
  <div class="navdiv">
    <!--<button (click)="logout()" class="navbutton">logout</button>-->
    <div (click)="logout()" class="innerdiv">logout</div>
  </div>

  <div class="navdiv">
    <!--<button (click)="scheme()" class="navbutton">generate scheme</button>-->
    <div (click)="scheme()" class="innerdiv">generate scheme</div>
  </div>

  <div class="navdiv">
    <!--<button (click)="myschemes()" class="navbutton" >my schemes</button>    -->
    <div (click)="myschemes()" class="innerdiv">my schemes</div>
  </div>

  <div class="navdiv">
    <!--<button (click)="publicSchemes()" class="navbutton">Public schemes</button> -->
    <div (click)="publicSchemes()" class="innerdiv">Public schemes</div>
  </div>
</mat-toolbar>



<div id="content" *ngIf="this.qrCodeIsSet">
  <div id="userinfo">
    Logged in as {{fname}} {{lname}} <br>
    Email: {{email}} <br> <br>
    Connected Devices:
    <div *ngFor="let item of DataService.DeviceArary">{{item}}</div>
  </div>
  <div id="qrcodewrapper">
    <qrcode  [qrdata]="qrcode" [width]="width" [errorCorrectionLevel]="level" [elementType]="elementType">
    </qrcode>
  </div>
</div>



<div id="imageClipboardDiv"></div>