#outer{

    border-radius: 100%;
    border:1px solid black;
    
    text-align:center;
    user-select: none;
    
    position: absolute;
}

#inner{
    width: 50%;
    height:50%;
    border-radius: 100%;
    background-color: black;
    position: absolute;;
   left:25%;
   top:25%;
    vertical-align: middle;
}


