<div *ngIf="format=='Portrait'" [ngStyle]="{'width.%':(element.width),'height.%':(element.height * 9/16)}"   class="component" cdkDrag [cdkDragFreeDragPosition]="{x:element.posx,y:element.posy}" (cdkDragEnded)="cdkDragReleased($event, element,i)" cdkDragBoundary="#scheme">

    <p id="text">{{element.identifier}} </p>
</div>

<div *ngIf="format=='Landscape'" [ngStyle]="{'width.%':(element.width),'height.%':(element.height * 16/9)}"   class="component" cdkDrag [cdkDragFreeDragPosition]="{x:element.posx,y:element.posy}" (cdkDragEnded)="cdkDragReleased($event, element,i)" cdkDragBoundary="#scheme">

    <!--<p id="text">{{element.identifier}} </p>-->
</div>

