<mat-toolbar color="primary" class="example-toolbar">
  
  <button mat-icon-button color="accent" (click)="home()">
    <mat-icon>arrow_back</mat-icon>
  </button>


  </mat-toolbar>
    <mat-spinner *ngIf="loaderService.isLoading | async" class="Spinner"></mat-spinner>

  <div id="content" *ngIf="array.length>0">

<div *ngFor="let item of array;let i = index" class="card"> 
    <mat-card class="scheme-card" >
        <mat-card-header>
          
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>{{item.format}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <div id="scheme" *ngIf="item.format=='Landscape'">
            <div *ngFor="let item2 of array[i].content;let j = index" >
              
              <app-buttonpreview  *ngIf="item2.identifier == 'button'" [element]="item2" [format]="item.format"></app-buttonpreview> 

              <app-joystickpreview *ngIf="item2.identifier == 'joystick'" [element]="item2" [format]="item.format"></app-joystickpreview>
             
             </div>
            </div> 
            <div id="scheme2" *ngIf="item.format=='Portrait'">
              <div *ngFor="let item2 of array[i].content;let j = index" >
                
                <app-buttonpreview  *ngIf="item2.identifier == 'button'" [element]="item2" [format]="item.format"></app-buttonpreview> 
  
                <app-joystickpreview *ngIf="item2.identifier == 'joystick'" [element]="item2" [format]="item.format"></app-joystickpreview>
               
               </div>
              </div> 

        </mat-card-content>
        <mat-card-actions>
          <button id="button" mat-raised-button color="primary" (click)="openTagDialog(item)">Veröffentlichen</button>
          <button *ngIf="item.format == 'Landscape'" id="button" mat-raised-button color="accent" (click)="editScheme(item)">Bearbeiten</button>
          <button *ngIf="item.format == 'Portrait'" id="button" mat-raised-button color="accent" (click)="editSchemePortrait(item)">Bearbeiten</button>

        </mat-card-actions>
      </mat-card>
      <br>
    </div>
  </div>
