.scheme-card{
    margin-left:1%;
    position: relative;
}
#scheme{
    width:80%;
    padding-bottom:calc(80%*(9/16));
   display: block;

    position: relative;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);

}
button{
    position: relative;
}
#scheme2{
    width:25%;
    padding-bottom:calc(25%*(16/9));
   display: block;

    position: relative;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);

}


  .example-toolbar{
    height:10%;
    position:fixed;
    z-index: 10;

  }

  #content{
    width:100%;
    height:auto;
    z-index: 1;
    position: absolute;
    top:10%;
    background-color: whitesmoke;
   
}

.card{
  width:30%;
  height:25%;
  display: inline-block;
  margin-left:2.5%;
  margin-bottom: 1.5%;
}

.Spinner{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:20


}

#searchdiv{
  height:12vh;
  width: 80%;
  background-color:white;
  margin:auto;
  margin-top:2%;
  margin-bottom:2%;

  
}

#tagselection{
  display:inline-block;
  width:40%;
  padding-left:2%;
 
}
#formatform{
  width:20%;
  position: relative;
  top:50%;
  transform:translateY(-50%);
  padding-left:5%;
}



#tagform{
  width:50%;
  position: relative;
  top:50%;
  transform:translateY(-50%);
  padding-left:5%;
}

#searchbutton{
  width:10%;
  position: relative;
  top:50%;
  transform:translateY(-50%);
  margin-left:5%;
}

.container-after-titlebar{
  background-color: whitesmoke;
}