<div class="container">
    <mat-toolbar color="primary" class="toolbar">
        <div id="headerleft">
            <button mat-icon-button color="accent" (click)="home()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>

        <a style="margin-right:1%">change Format</a>
        <mat-slide-toggle [(ngModel)]="isChecked" (change)="checkChange($event)"></mat-slide-toggle>

        <div id="headerdiv">
            <button mat-raised-button color="accent" id="savebutton" (click)="saveScheme()">Save</button>
        </div>


    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
        <mat-sidenav #snav [mode]='side' id="sidenav" opened="true" disableClose="true">

            <div id="buttondiv" class="sidenavcomponents" (click)="addArray('button','')">
                <p id="text">Button</p>
            </div>

            <div id="outer" class="sidenavcomponents" (click)="addArray('joystick','')">
                <div id="inner"></div>
            </div>

            <!--<div class="example-box" (click)="addArray('button','')">
        Button
      </div>-->
            <!--<div class="example-box" (click)="addArray('button','E')">
        Button E
      </div>
      <div class="example-box" (click)="addArray('button','W')">
        Button W
      </div>-->
            <!--<div class="example-box" (click)="addArray('joystick','')">
        joystick
      </div>-->
            <!--<div class="example-box" (click)="addArray('test','')">
        test
      </div>-->
        </mat-sidenav>

        <mat-sidenav-content id="snavcontent" (click)="deselectComponent($event)">
            <div id="scheme">
                <!--(click)="selectComponent($event)"-->
                <div *ngFor="let item of array;let i = index">
                    <app-button *ngIf="item.identifier == 'button'" [element]="item" [format]="format" (selectComponent)="selectComponent($event)"></app-button>
                    <app-joystick *ngIf="item.identifier == 'joystick'" [element]="item" [format]="format" (selectComponent)="selectComponent($event)"></app-joystick>
                    <!--<app-ui-element *ngIf="item.identifier== 'test'" [element]="item" (selectComponent)="selectComponent($event)"></app-ui-element>-->
                </div>
            </div>
        </mat-sidenav-content>

        <!-- EDIT COMPONENT MENU -->

        <mat-sidenav #snavright [mode]='side' id="sidenavright" position="end" [opened]="this.selectedComponent">
            <!-- COMPONENT NAME -->
            <div *ngIf="this.selectedComponent" id="wrapperComponentName" class="wrapperComponent">
                <mat-label style="margin-left: 5%; font-weight: 700;">Name:</mat-label>
                <form autocomplete="off">
                    <input type="text" hidden autocomplete="false">
                    <button mat-button style="height: 0; position: absolute;"> <!-- disable autofocus -->
                    </button>
                    <mat-form-field id="componentNameInputForm" floatLabel="never">
                        <mat-label *ngIf="this.selectedComponent.specification == ''">{{ this.selectedComponent.shortcut[1] }}</mat-label>
                        <input #nameInput matInput type="text" [(ngModel)]="this.selectedComponent.specification" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </form>
            </div>
            <!-- COMPONENT NAME END -->
            <br>
            <!-- COMPONENT COLOR -->

            <div *ngIf="this.selectedComponent" id="wrapperComponentColor" class="wrapperComponent">
                <mat-label style="margin-left: 2%;font-weight: 700;">Color:</mat-label>
                <p></p>
                <div *ngFor="let color of predefinedColors; let i = index" style="display: inline">
                    <div matRipple [matRippleColor]="rippleColor" [style.background]="color" class="colorCircle" (click)="setColor(color)"></div>
                </div>
                <!--
                    <div matRipple [matRippleColor]="rippleColor" [style.background]="predefinedColors[0]" class="colorCircle" (click)="setColor(this.predefinedColors[0])"></div>
                    <div matRipple [matRippleColor]="rippleColor" [style.background]="predefinedColors[1]" class="colorCircle" (click)="setColor(this.predefinedColors[1])"></div>
                    <div matRipple [matRippleColor]="rippleColor" [style.background]="predefinedColors[2]" class="colorCircle" (click)="setColor(this.predefinedColors[2])"></div>
                    <div matRipple [matRippleColor]="rippleColor" [style.background]="predefinedColors[3]" class="colorCircle" (click)="setColor(this.predefinedColors[3])"></div>
                    <br>
                    <div matRipple [matRippleColor]="rippleColor" [style.background]="predefinedColors[4]" class="colorCircle" (click)="setColor(this.predefinedColors[4])"></div>
                    <div matRipple [matRippleColor]="rippleColor" [style.background]="predefinedColors[5]" class="colorCircle" (click)="setColor(this.predefinedColors[5])"></div>
                    <div matRipple [matRippleColor]="rippleColor" [style.background]="predefinedColors[6]" class="colorCircle" (click)="setColor(this.predefinedColors[6])"></div>
                    -->
                <div id="customColorCircle" [ngStyle]="{'background-color': this.selectedComponent.rgbaColor, 'color': getTextColor()}" class="colorCircle">
                    <span id="colorPickerIcon" class="material-icons">
                        colorize
                    </span>
                    <color-chrome id="colorPicker" [disableAlpha]="false" *ngIf="this.selectedComponent" [color]="this.selectedComponent.color" (onChange)="changeColor($event)"></color-chrome>
                </div>
            </div>
            <!-- COMPONENT COLOR END -->
            <br>
            <!-- COMPONENT ACTION -->
            <div *ngIf="this.selectedComponent" id="wrapperComponentAction" class="wrapperComponent">
                <mat-label style="font-weight: 700; margin-left: 5%;">Action: &nbsp;
                    <mat-chip-list style="display: inline-block;" matTooltip="Click to set action">
                        <mat-chip (click)="setComponentAction()" style="cursor: pointer;">{{this.selectedComponent.shortcut[1]}}</mat-chip>
                    </mat-chip-list>
                </mat-label>

            </div>
            <!-- COMPONENT ACTION END -->
            <div *ngIf="this.selectedComponent" id="wrapperComponentAction" class="wrapperComponent">

                <button (click)="this.selectedComponent.circle = !this.selectedComponent.circle">toggle circle</button>

                <input type="number" [(ngModel)]="this.selectedComponent.width">
                <input type="number" [(ngModel)]="this.selectedComponent.height">

            </div>
        </mat-sidenav>
    </mat-sidenav-container>

</div>