body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    overflow: hidden;
}

#sidenav {
    width: 7.5%;
}

#sidenavright {
    width: 15%;
}

.toolbar {
    height: 10%
}

.sidenav-container {
    height: 90%;
    overflow: hidden;
}

mat-sidenav-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

.component {
    width: 50px;
    height: 50px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    user-select: none;
    cursor: move;
    position: absolute;
}

#componentContainer {
    position: relative;
}

#scheme {
    position: absolute;
    width: 70%;
    padding-bottom: calc(70%*(9/16));
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    top: 50%;
    transform: translate(-55%, -50%);
    left: 50%;
    background: white;
}

#headerdiv {
    margin-left: 1%;
}

#headerleft {
    width: 90%;
}

#buttondiv {
    box-sizing: border-box;
    text-align: center;
    user-select: none;
    border: 1px black solid;
    display: block;
    width: 100%;
    height: calc(7.5%*(16/9)*(10/9));
}

#outer {
    box-sizing: border-box;
    width: 100%;
    height: calc(7.5%*(16/9)*(10/9));
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    user-select: none;
}

#inner {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background-color: black;
    left: 25%;
    top: 25%;
    position: relative;
    vertical-align: middle;
}

.sidenavcomponents {
    margin-bottom: 2%;
}

#text {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 25%;
    position: relative;
    top: 35%;
}

#pickacolor {
    width: 20%;
    height: 20%;
    display: block;
    position: relative;
    transition: .5s;
}

.colorCircle {
    display: inline-block;
    width: 15%;
    padding-top: 15%;
    border-radius: 100%;
    cursor: pointer;
    transition: filter .3s;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.colorCircle::before {
    content: ' ';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 10;
    position: absolute;
}

.colorCircle:hover::before {
    display: block;
    background: rgba(0, 0, 0, 0.3)
}

#customColorCircle {
    position: relative;
}

#colorPickerIcon {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

#customColorCircle:hover {
    #colorPicker {
        display: block;
    }
}

#colorPicker {
    position: absolute;
    display: none;
    transition: .5s;
    left: -500%;
    z-index: 100;
    margin-top: -10%;
}