<mat-toolbar color="primary" class="example-toolbar">
    <div class="navdiv">
        <!--<button (click)="myschemes()" class="navbutton" >my schemes</button>    -->
        <div (click)="home()" class="innerdiv">
            <!-- <p class="icontext"><mat-icon class="navicon">home</mat-icon></p>-->
            <img class="navimg" src="./assets/home.svg">
            <p class="navtext">Home</p>
        </div>
    </div>


    <div class="navdiv">
        <!--<button (click)="myschemes()" class="navbutton" >my schemes</button>    -->

        <div (click)="myschemes()" class="innerdiv">
            <img class="navimg" src="./assets/create.svg">
            <p class="navtext">My schemes</p>
        </div>
    </div>

    <div class="navdiv" id="discoverdiv">
        <!--<button (click)="publicSchemes()" class="navbutton">Public schemes</button> -->
        <div (click)="publicSchemes()" class="innerdiv">
            <img class="navimg" src="./assets/public.svg">
            <p class="navtext">Discover</p>
        </div>
    </div>

    <div class="navdivright">
        <!--<button (click)="logout()" class="navbutton">logout</button>-->
        <div class="innerdivright">
            <img id="rightimg" [matMenuTriggerFor]="beforeMenu" src="./assets/account.svg">

            <mat-menu #beforeMenu="matMenu" xPosition="before" class="matmenu">
                <div id="accountdiv">
                    <p id="emailtext">Logged in as {{dataService.emailDataService}}</p>
                    <button mat-raised-button color="primary" id="logoutbtn" class="accbtn" (click)="logout()">Log out</button>
                    <button mat-raised-button color="primary" id="accountbtn" class="accbtn">Account</button>
                </div>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>


<div id="content" *ngIf="this.qrCodeIsSet">
    <!-- <div id="accountdiv">
        <p id="emailtext">Logged in as {{email}}</p>
        <button mat-raised-button color="primary" id="logoutbtn" class="accbtn">Log out</button>
        <button mat-raised-button color="primary" id="accountbtn" class="accbtn">Account</button>
    </div>-->
    <div id="qrcodewrapper">
        <a id="qrcodetext">Ready to connect!</a>
        <qrcode [qrdata]="qrcode" [width]="width" [errorCorrectionLevel]="level" [elementType]="elementType">
        </qrcode>
        <div id="visibility" (click)="hideQR()">

            <img id="visibilityimg" src="./assets/visibility_off.svg">
            <p id="hideqrtxt">Hide QR Code</p>

        </div>
    </div>
    <div id="userinfo">

        <p id="welcometxt"> Welcome {{dataService.firstnameDataService}}!</p>
        <div id="Devicetxt">
            <p>Connected Devices:</p>
            <div id="DeviceDiv">
                <div *ngFor="let item of dataService.deviceArray" class="conDevice">
                    <img class="kickuserimg" src='./assets/kick_user.svg' (click)=kickUser(item.id)> {{item.name}}
                </div>
            </div>
        </div>
    </div>

</div>