<div id="all">
    <div id="imgdiv">
        <img id="imperiologo" src="./assets/logowithtext.png">
    </div>
<div id="content">
    <div id="innercontent">
    <form [formGroup]="form" (ngSubmit)="registerBefore()">
        <mat-error *ngIf="loginInvalid">
            Email already exists!
        </mat-error>
        <mat-form-field class="full-width-input" appearance="outline">
            <input matInput placeholder="firstname" formControlName="first" required>
            <mat-error>
                Please enter a valid Firstname
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input" appearance="outline" appearance="outline">
            <input matInput placeholder="lastname" formControlName="last" required>
            <mat-error>
                Please enter a valid Lastname
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input" appearance="outline">
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error>
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input" appearance="outline">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>
                Please enter a valid password
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input" appearance="outline">
            <input matInput type="password" placeholder="Retype Password" formControlName="password2" required>
            <mat-error>
                Passwords must match!
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" style="color: white">Register</button>
    </form>
    <div id="loginText" (click)="goToLogin()">Back to Login</div>
</div>
</div>
</div>
<div id="middlediv"></div>