.component{
   
    box-sizing: border-box;

    text-align:center;
    user-select: none;
    
    position: absolute;
    border:1px black solid;
    display:block;
   }
   
   #text{
       position: absolute;
       text-align:center;
       margin:auto;
       width:80%;
       height:30%;
       top:35%;
       left:10%;
       font-size: 0.75vw;
   }