/*mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }*/
  
  #content{
  
    user-select: none;
    text-align: center;
    width:46%;

    padding:2%;
  
    float:right;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    background-color:whitesmoke;

  }
  mat-form-field{
    display: block;

  }
  /*.mat-raised-button{
    background-color:yellow !important;
  }
  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    //background-color: green !important;
  //} 
  
  /*::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
  // background-color: green !important;;
 // }

 #registerText{
   text-decoration: underline;
   cursor: pointer;
   padding-top:3%;
 }
 #registerText:hover{
   text-decoration: none;
 }

 #all{
  width:100%;
  height:100%;
  //overflow:hidden;
  background-color:whitesmoke;

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-width: 1px !important;
    border-color: #707070 !important;
    color: #1A2A49 !important;
    border-radius: 0px !important;     
    background-color: white;

}

#imgdiv{
  width:50%;
  height:100%;
  float:left;
}

#imperiologo{
  width:80%;
  margin:auto;
  position: relative;
    top:50%;
    transform: translateY(-50%);
    left:10%;
}

#innercontent{
  width:80%;
  margin:auto;
}