@import '~@angular/material/theming';
@include mat-core();

/* For use in _color-definitions.scss */

$imperio_custom: ( 50: #1a2a49, 100: #FFF, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: white, 900: white, A100: $black-87-opacity, A200: $black-87-opacity, A400: $black-87-opacity, A700: white, ));
$my-custom-primary: mat-palette($imperio_custom, 50);
$my-custom-accent: mat-palette($imperio_custom, 100);
$my-custom-warn: mat-palette($mat-red);
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
@include angular-material-theme($my-custom-theme);