<!--<div [ngStyle]="{'width.%':(element.width * (9/16) ),'height.%':(element.height)}" class="component" cdkDrag [cdkDragFreeDragPosition]="{x:element.posx,y:element.posy}" (cdkDragEnded)="cdkDragReleased($event, element,i)" cdkDragBoundary="#scheme">
    <div id="outer">
        <div id="inner"></div>
    </div>
</div> -->
<div id="outer" [ngStyle]="{'width.%':(element.width ),'padding-bottom.%':(element.height)}"  cdkDrag [cdkDragFreeDragPosition]="{x:element.posx,y:element.posy}" (cdkDragEnded)="cdkDragReleased($event, element,i)" cdkDragBoundary="#scheme">
    <div id="inner"></div>
</div>