<mat-toolbar color="primary" class="example-toolbar">
    <div class="navdiv">
        <!--<button (click)="myschemes()" class="navbutton" >my schemes</button>    -->
        <div (click)="navigate('main')" class="innerdiv">
            <!-- <p class="icontext"><mat-icon class="navicon">home</mat-icon></p>-->
            <img class="navimg" src="./assets/home.svg">
            <p class="navtext">Home</p>
        </div>
    </div>


    <div class="navdiv">
        <!--<button (click)="myschemes()" class="navbutton" >my schemes</button>    -->

        <div (click)="navigate('myschemes')" class="innerdiv">
            <img class="navimg" src="./assets/create.svg">
            <p class="navtext">My schemes</p>
        </div>
    </div>

    <div class="navdiv" id="discoverdiv">
        <!--<button (click)="publicSchemes()" class="navbutton">Public schemes</button> -->
        <div (click)="navigate('publicschemes')" class="innerdiv">
            <img class="navimg" src="./assets/public.svg">
            <p class="navtext">Discover</p>
        </div>
    </div>

    <div class="navdivright">
        <!--<button (click)="logout()" class="navbutton">logout</button>-->
        <div class="innerdivright">
            <img id="rightimg" [matMenuTriggerFor]="beforeMenu" src="./assets/account.svg">

            <mat-menu #beforeMenu="matMenu" xPosition="before" class="matmenu">
                <div id="accountdiv">
                    <p id="emailtext">Logged in as {{dataService.emailDataService}}</p>
                    <button mat-raised-button color="primary" id="logoutbtn" class="accbtn" (click)="logout()">Log out</button>
                    <button mat-raised-button color="primary" id="accountbtn" class="accbtn">Account</button>
                </div>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>

<div id="content">

</div>