.navdiv{
    height:100%;
    width:15%;
  }

  .innerdiv{
    position: relative;
    width:100%;
    height:100%;
    margin:auto;
    word-wrap: break-word;
    white-space:pre-wrap;
    padding-left:11%;
    margin-left:25%;

  }


  .navimg{
    width:10%;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    margin:0;
    display: inline-block;
    left: 0;
  }

  .navtext{
    margin:0;
    position:relative;
    top:50%;
    transform:translateY(-50%);
    font-size:1.5vw;
    cursor:pointer;
    color:white;
    width:auto;
    display: inline-block;
  
  }

  .navdivright{
    height:100%;
    width:5%;
    float:right;
    display: inline-block;
    margin-left:50%;
  }
  

  .innerdivright{
    position: relative;
    width:100%;
    height:100%;
    margin:auto;
    word-wrap: break-word;
    white-space:pre-wrap;

  }

  #rightimg{
    height:60%;
    position: relative;
    top:50%;
    transform:translateY(-50%);
  }

  #accountdiv{
 
    background-color:white;
    height:10%;
    width:100%;
    
  }

  #emailtext{
    font-size:1.25vw;
    margin:0;
    padding-left:2.5%;
    padding-top:2%;
    
    }
    #logoutbtn{
      float:left;
      margin-left:2.5%;
    }
    #accountbtn{
      float:right;
      margin-right:2.5%;
     
    }

    .accbtn{
  
        height:50%;
        font-size:1.25vw;
        color:white !important;
        margin-top:1.5%;
      }
      
      #rightimg:hover{
        cursor: pointer;
      }
      
      ::ng-deep .matmenu{
        height:auto;
        width:auto;
      }
      
      ::ng-deep .mat-menu-content{
        width:100%;
      }
      
      #visibility:hover{
        cursor:pointer;
      }

      .example-toolbar{
        height:10%;
        width:100%;
        padding:0;
        position: fixed;
        z-index:10;
      }

      #discoverdiv{
        margin-left: 5%;
     
       } 

       #content{
        overflow:hidden;
        width:100%;
        height:90%;
        background-color: whitesmoke;
        top:10%;
        position: absolute;
    }